body {
   font-family: 'Open Sans',sans-serif;
}
p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 50px;
  margin-right: 50px;
}
h1 {
  color: #282828;
  font-weight: 400;
  text-align: center;
}
h2 {
  color: #282828;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
}
figcaption {
  color: #E0E0E0;
  font-weight: 300;
  font-size: 8px;
  text-align: right;
}
