body {
   font-family: 'Open Sans',sans-serif;
}
h1 {
  color: #282828;
  font-weight: 400;
  text-align: center;
}
figcaption {
  color: #E0E0E0;
  font-weight: 300;
  font-size: 8px;
  text-align: right;
}
